<h1> Flaffy Guacamole </h1>

		<%= link_to("Sign up", new_user_path, :class => "buttonInscription") %>

		<h2> Created Account </h2>

		<% @users.each do |user| %>
		<p><%= link_to(user.name, user_path(user)) %></p>
		
		<% end %>