<%= "Hello #{ @user.name } "  %>

<h1> Mes beuveries </h1>

<% @user_benders.each do |bender| %>
	<p><%= link_to(bender.started_at, bender) %></p>
<% end %>

<%= link_to('Ajouter une Beuverie', new_bender_path) %>