<%= "Beuverie de #{ @bender } "  %>

<h1> Your Drinks </h1>
<% if @bender_drinks %>
	<% @bender_drinks.each do |drink| %>
		<p><%= drink.name %></p>
		<p><%= drink.proof %></p>
		<p><%= drink.quantity %></p>
	<% end %>
	<% else %>
	<p class="empty">Pas de drink!</p>
<% end %>
